@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
@import url("https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap");

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --dulltext-color: #d3d3d3;
  --text-color: white;
  --secoundary-color: #bf0000;
  --primary-black: #000000;
  --resene-color: #f6f8fc;
  --background-color1: #f2f2f2;
  --background-color2: #ffffff;
  --background-color3: #202020;
  --line-height: 1.7rem;
  --transition: 0.5s ease-in;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  transition: var(--transition);
  scroll-behavior: smooth;
  box-sizing: border-box;
}



.headPage {
  background-color: var(--background-color1);
  position: fixed;
  width: 100%;
  z-index: 4;
}
.logo {
  font-family: "Pacifico", sans-serif;
  font-size: 25px;
  color: var(--secoundary-color);
  padding-left: 10px;
  text-decoration: none;
  
}
.naviBar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 60px;
}
.hamBurger {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: auto;
}
.textSmm {
  display: flex;
  padding-right: 15px;
}
.burger1 {
  width: 55px;
}
.pageLink {
  list-style-type: none;
  
}
.navArr {
  display: flex;
  font-size: 14px;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
  color: var(--secoundary-color);
  font-family: "Baskervville", sans-serif;
}
.imgBurg {
  width: 30px;
  padding-left: 6px;
}
.hamBurg2 {
  display: none;
}


@media only screen and (max-width: 768px) {
  .headPage {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: auto;
  }
  .logo {
    font-family: "Pacifico", sans-serif;
    font-size: 18px;
    color: var(--secoundary-color);
    position: absolute;
    top: 0px;
    
  }
  .naviBar {
    display: flex;
    overflow: hidden;
    height: auto;
  }
  .imgBurg {
    width: 20px;
    
  }
  .hamHide {
    display: block;
    cursor: pointer;
    padding-right: 15px;
    position: ;
  }
  .textSmm {
    flex-direction: column;
    text-align: right;
  }
  .navArr > h2 {
    font-size: 15px;
    line-height: 5px;
  }
  .pageLink {
    display: none; 
    padding-lef: px;
  }
  .pageLink:nth-child(3n-1) {
    padding-top: 45px;
    padding-left: 11px;
  }
  .burger1 {
    width: 40px;
  }
  .hamBurg2 {
    list-style-type: none;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 15px;
  }
};







a {
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  color: var(--secoundary-color);
  margin: 5px;
}

a:hover {
  text-decoration: none;
  color: var(--background-color3);
}




.intro {
  background-color: var(--background-color2);
  padding: 10% 15% 10%;
}
@media only screen and (max-width: 768px) {
  .intro {
    padding: 25% 15% 15%;
  }
}

.h_intro {
  color: var(--primary-black);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
}

.h_intro > h1 {
  color: var(--primary-black);
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .intro > .h_intro > h1 {
    font-size: 22px;
  }
  .intro > .h_intro > h2 {
    font-size: 15px;
  }
}

.h_intro > h2 {
  font-family: "Baskervville", sans-serif;
}


/* My Hover button */
.button2 {
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 4px;
  color: var(--secoundary-color);
  background-color: var(--background-color1);
  text-decoration: none;
  overflow: hidden;
  letter-spacing: 1.5px;
  
  font-family: "Raleway", sans-serif;
  filter: hue-rotate(0deg);
  border: 1px solid #d2bdff;
  transition: all 0.3s linear;
}  
  .button2:hover {
    border: 1px solid transparent;
  }
    span {
      position: absolute;
      display: block;
    }
      span:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 2s linear infinite;
      }
      @keyframes animate1 {
        0% {
          left: -100%;
        }
        50% {
          left: 100%;
        }
        100% {
          left: 100%;
        }
      }

      span:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #3a86ff);
        animation: animate2 2s linear infinite;
        animation-delay: 0.5s;
      }

      @keyframes animate2 {
        0% {
          top: -100%;
        }
        50% {
          top: 100%;
        }
        100% {
          top: 100%;
        }
      }
      span:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;

        background: linear-gradient(270deg, transparent, #3a86ff);
        animation: animate3 2s linear infinite;
        animation-delay: 1s;
      }
      @keyframes animate3 {
        0% {
          right: -100%;
          height: 3px;
        }
        50% {
          height: 2px;
          right: 100%;
        }
        100% {
          height: 2px;
          right: 100%;
        }
      }

      span:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #3a86ff);
        animation: animate4 2s linear infinite;
        animation-delay: 1.5s;
      }
      @keyframes animate4 {
        0% {
          bottom: -100%;
        }
        50% {
          bottom: 100%;
        }
        100% {
          bottom: 100%;
        }
      }
/* over ends here */






@media only screen and (max-width: 768px) {
  .h_intro > h2 {
    font-size: 25px;
  }
  .h_intro > h1 {
    font-size: 35px;
  }
}

.about_me {
  background-color: var(--background-color1);
  color: var(--primary-black);
  padding: 10%;
  display: flex;
  justify-content: space-between;
  justify-items: cente;
}
.about_me > div > ul {
  text-align: center;
  -webkit-columns: 2;
  -moz-columns: 2;
  color: var(--primary-black);
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  padding: 0;
}
.about_me > div > ul > li {
  font-size: 15px;
  list-style-type: none;
  left: 0px;
}
.about_me > div > h3 {
  color: var(--secoundary-color);
  font-family: "Baskervville", sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
}
.about_me > div > h1 {
  color: var(--primary-black);
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
}
.about_me > div > h2 {
  color: var(--primary-black);
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.about_me > div > img {
  width: 450px;
  padding: 15px;
}
.about_me > div > ul > li {
  list-style-type: none;
  padding-top: 25px;
}

@media only screen and (max-width: 768px) {
  .about_me {
    display: flex;
    flex-direction: column;
  }
  .about_me > div > img {
    width: 270px;
  }
  .button2 {
    font-size: small;
    padding: 10px 16px;
    border-radius: 0;
    font-weight: bolder;
  }
  .about_me > div > ul {
    color: var(--primary-black);
    letter-spacing: 3px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
}

.projects_sec {
  padding: 15%;
  height: 100%;
  background-color: var(--background-color2);
}
.projects_sec > h1 {
  color: var(--secoundary-color);
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  text-align: center;
  padding-bottom: 50px;
}
button {
  background-color: var(--secoundary-color);
  color: var(--text-color);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Baskervville", sans-serif;
  padding: 5px;
  cursor: pointer;
}
button:hover {
  background-color: red;
}

@media only screen and (max-width: 768px) {
  .projects_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
}

.hero-image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/admiral-ng/image/upload/v1670122007/landingP_pic_kp2mjq.jpg");
  height: 220px;
  margin-bottom: 40px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
}
/* Place text in the middle of the image */
.hero-text1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/admiral-ng/image/upload/v1670122047/flex_lay_pic_oi7aks.jpg");
  height: 220px;
  margin-bottom: 40px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
}

.hero-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/admiral-ng/image/upload/v1670122034/js_calc_ighirg.jpg");
  height: 220px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* Place text in the middle of the image */
.hero-text3 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  letter-spacing: 5px;
  font-family: "Raleway", sans-serif;
}

.contact {
  height: auto;
  background-color: var(--background-color3);
  padding: 15%;
  overflow: hidden;
  padding-bottom: 10px;
}

.contact > div > h1 {
  color: var(--dulltext-color);
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 50px;
}

.contact > div > h3 {
  font-family: "Baskervville", sans-serif;
  color: var(--secoundary-color);
  text-align: center;
  letter-spacing: 5px;
  font-size: 20px;
}

.contact > div > li {
  list-style-type: none;
  padding: 10px;
}
.footertag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10% 5px 10%;
}
